*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
    background-color: grey;
    justify-content: center;
    column-gap: 3rem;
}

.container{
    width: 1200px;
    margin: auto;
}

.row{
    display: flex;
}